*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'Text-1';
    src: url(img/font/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}
@font-face {
    font-family: 'Text-2';
    src: url(img/font/KFOmCnqEu92Fr1Mu4mxKKTU1Kg\ \(1\).woff2);
}
@font-face {
    font-family: 'Text-3';
    src: url(img/font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: 'Text-4';
    src: url(img/font/TTNorms-ExtraBold.woff2);
}
@font-face {
    font-family: 'Text-5';
    src: url(img/font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: 'Text-6';
    src: url(img/font/TTNorms-Regular.woff2);
}
#p-text-1{
   font-family: text-3; 
   font-size: 16px;
   font-weight: 700;
   line-height: 22px;
   letter-spacing: -0.01px;
   text-decoration: none;
   overflow: hidden;
   white-space: nowrap;
   margin: 0;
   padding: 0;
}
#p-text-2,#p-text-3{
    color:#606060 ;
    font-family: text-5; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0; 
    max-width: 100%;
}
#p-text-3{
    margin-left: 5px;
}
#p-text-5{
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    width: 100%;
    align-content: center;
    font-family: text-5;
    color: #606060;
    margin-right: 12px;
    text-align: left;
}
#p-text-6{
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    width: 100%;
    align-content: center;
    font-family: text-5;
    color: #000000; 
    text-align: center;
    font-family: text-3;   
    margin-left: 4px;
}
#top-head-bar{
    position:fixed;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: o 12px;
    justify-content: space-between;
    border-bottom: solid 1px rgb(236, 236, 236);
}
.top-head-bar-inner-button{
    display: flex;
    align-items: center;
     margin-right:12px ;
}
.login-button-1{
    width: 66.36px;
    height: 32px;
    background: white;
    color: rgb(0, 0, 0);
    display: inline-flex;
    max-width: 100%;
    padding: 0px 2px;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 99999px;
    border: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
.login-button-1 p{
    font-family:text-3 ;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px; 
    margin-right: 18px;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.open-app-button{
    align-self: center;
    grid-area:2/3 ;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0px 12px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffff; 
}
.open-app-button p{
    font-family:text-3 ;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;

}
.top-head-bar-inner-svg{
    display:flex;
    height: 38px;
    width: 41px;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    align-self: center;
    margin-left: 8px;
    gap: 4px;
}
.main-header{
    width: 100%;
    min-height: 550px;
    max-height:650px ;
    background: url(img/hero_mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
.doordash-ad{
    width: 100%;
    height: 80px;
    margin-top: 16px;
}
.doordash-ad-img{
    align-self: center;
    grid-area: 2/1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    border-radius:12px;
    border: 1px solid #f1f1f1ff;
}
.doordash-ad-texts{
    -webkit-box-flex: 1;
    overflow: hidden;
    grid-area:2/2 ;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}
.openapp-button{
    align-self: center;
    grid-area:2/3 ;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0px 2px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffff;
}
.openapp-button p{
    color: #ffffff;
    font-family: text-4;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.01px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.Rating{
    display: flex;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
}
.Rating img{  
   margin: 0px 1px;
   flex-shrink: 0;
   box-sizing: border-box; 
}
.doordash-ad-inner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    padding: 8px 8px;
    box-sizing: border-box;
}
.main-header-part-1{
    display: flex;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 16px;
    z-index: 1;
    gap: 8px;
    padding-right: 24px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.main-header-part-1-buttons{
     display: flex; 
}
.login-button{
    width: 66.36px;
    height: 32px;
    background: white;
    color: black;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    margin:95px 0;
    padding: 0px 2px;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 99999px;
    border: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
.login-button p{
   font-size: 16px;
   font-weight: 700;
   line-height: 22px;
   letter-spacing: -0.01px;
   display: block;
   margin: 0;
   padding: 10px;
   font-family: Text-3;
}
.openapp-button p{
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: -0.01px;
      text-decoration: none;
      display: block;
      margin: 0;
      padding:5px 10px;
      font-family: Text-3;
}
.deskt-top-txt-butt{
    position: absolute;
    margin-top:-233px ;
    align-self: center;
    z-index: 1;
    padding-right: 24px;
    justify-content: center;
    -webkit-box-pack: end;
    gap: 8px;
    left: 0;
    right: 0;
}
.sign-in-button,.Sign-up-button{
   position: relative;
   max-width: 100%;
   margin: 0;
   padding:0;
   display: inline-flex;
   min-height: 40px;
   width: auto;
   -webkit-box-align: center;
   align-items: center;
   justify-content: flex-start;
   border-radius: 9999px;
   text-align: center;
   background-color: #eb1700ff;
   color: #ffffff;
   font-family: text-3;
}
.sign-in-button p,.Sign-up-button p{
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Sign-up-button {
    background-color: #fff;
    color: #606060;
}
.main-header-part-2-svg-desktop{
   position: absolute;
   margin: auto 0;
}
.main-header-part-2-svg-desktop img:first-child{
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 25px;
}
.main-header-part-2-svg-desktop img:last-child{
    margin-bottom: 2px;
}
.main-header-part-2{
    margin: auto;
    width: 100%;
    max-width: 350px;  
    text-align: center;
}
.main-header-part-2-svg{
    display: flex;
    margin-bottom: 19px;
    margin-top: 20px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.main-header-part-2-svg img:first-child{
    margin-right: 8px;
    margin-bottom: 1px;
}
.main-header-part-2-text{
    font-family:text-3;
    max-width: 350px;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 28px;
    color: rgb(255,255,255);
    text-align: center;
    margin-bottom: 24px;
}
.main-header-part-2-text p{
     margin: 0 8px;
}
.main-header-part-2-deliveryaddr-box{
     background: white;
     border-radius: 32px;   
     width: 95%;
     margin-bottom: 1px;
     margin-left: auto;
     margin-right: auto;
     max-width: 324px;   
}
.main-header-part-2-deliveryaddr-box-inner{
    padding:12px;
    display: flex;
    align-content: center;
    border-radius: 32px;
}
.main-header-part-2-deliveryaddr-box-inner img:first-child{
    margin-right: 12px;
    padding-left: 4px;
}
.main-header-part-2-savedaddr-box{
     position: relative;
     max-width: 100%;
     display: inline-flex;
     min-height: 32px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: start;
     justify-content: flex-start;
     border-radius: 1000px;
     text-align: center;
     background-color: #fff;
    margin-top: 15px;
    padding: 0 12px;
    box-shadow: inset 0 0 0 1px #19191900;
}
.ad-parent{
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    flex: 1 0 auto;
}
.ad-parent-2{
    width: 100%;
    margin: 0 auto;
    max-width: 402px;
    flex: 1 0 auto; 
}
.ad{
    margin: 20px 20px 0px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgb(247, 247,247);
    max-width: 400px;
    padding: 20px;
    display: flex;
    border: solid 1px rgb(236, 236, 236);
}
.ad-1{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: solid 1px rgb(240, 240, 240);
    background-color: rgb(255,255,255);
    margin-right: 8px;
    padding: 8px;
    box-sizing: border-box;
    text-align: left;
}
.ad-2{
    box-sizing: border-box;
    text-align: left;
}
.door-app-text-1{
    line-height: 22px;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: text-3;
    font-weight: 700;
    letter-spacing:-0.04px;
    font-variant-ligatures: no-common-ligatures;
    box-sizing: border-box;
}
.door-app-text-2{
    line-height: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: text-5;
    font-weight: 500;
    color:#606060;
    font-variant-ligatures: no-common-ligatures;
    box-sizing: border-box;
    text-align: left;
}
.ad-dowload-butt{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 24px;
    text-align: center;
    background-color: #eb1700ff;
   box-sizing: border-box;
   color: white;
   padding: 5px 12px;
   gap: 4px;
   
}
.ad-dowload-butt p{
    width: 100%;
    font-size: 14px;
    font-family:text-3;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0ch;
    text-align: center;
    font-variant-ligatures: no-common-ligatures;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.ad-dowload-butt img{
    display: flex;
    flex-grow: 1;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    fill: none;
}
.items{
    display: flex;
    flex-direction: column;
    justify-items: center;
    -webkit-box-pack: center;
    margin: 40px 0px;
    padding:8px 0px ;
    box-sizing: border-box;
    max-width: 768px;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}
.item{
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    flex-flow: row;
    padding: 16px 16px;
    box-sizing: border-box;
    white-space: normal;
}
.item-img{
    margin-right: 32px;
    box-sizing: border-box;

}
.item-img img{
    width: 88px;
    height: 88px;
    box-sizing: border-box;
}
.item-texts{
   display: flex;
   width: 100%;
   flex-direction: column;
   max-width: 250px;
   box-sizing: border-box;
}
.item-texts #item-texts-1{
   font-family:text-3 ;
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: -0.01px;
   box-sizing: border-box; 
}
.item-texts #item-texts-2{
    display: block;
    margin-top: 8px;
    font-family:text-5;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-transform: none;
    box-sizing: border-box;
    white-space:wrap;
}
.item-button{
    display: flex;
    margin-top: 12px;
    color: #eb1700ff;
    font-family:text-3 ;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;

}
.item-button img{
    margin-left: 4px;
}
.cards-1,.card-child-3{
    width: 100%;
    box-sizing: border-box;
}
.card-child{
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
}
.card-child-img,.card-child-2,.cards-2,.card-child-3-inner-img{
    width: 100%;

}
.card-child-img img,.card-child-2 img,.card-child-3-inner-img img,.scrolly-part-1-img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-sizing: border-box;
}
.card-child-texts{
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
 h2{
    text-align: left;
    max-width: 90%;
    margin-top: 20px;
    font-family:text-3;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
}
.span-1{
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    font-family: text-3;
}
 .span-2{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    font-family:text-5;
}
.card-button,.card-2-button{
    margin-top: 20px;
    min-height: 32px;
    width: auto;
    position: relative;
    max-width: 100%;
    display: inline-flex;
    border-radius:999px ;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-pack: start;
    text-align: center;
    background-color: #eb1700ff;
    color: #fff;
    box-sizing: border-box;
    align-self: flex-start;
}
.card-button p,.card-2-button p{
    color: currentColor;
    font-family:text-3 ;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 12px;
    box-sizing: border-box;
}
.card-child-2{
    background-color: rgb(254,241,238);
    padding-top: 320px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}
.card-2-img,.scrolly-part-1-img{
    width: 100%;
}
.card-child-3-inner{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.main-body-backgroung-banner{
    background: url(img/grocery_desktop\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
    box-sizing: border-box;
}
.backgroung-banner-inner-1{
   background-color: rgb(30,30,30,0.6);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: row;
  -webkit-box-pack: center;
  place-content: center;
  text-align: center;
}
.backgroung-banner-inner-2{
    -webkit-box-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.backgroung-banner-inner-2 h2{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    max-width: 90%;
    margin-top: 20px;
    font-family: text-3;
    font-size:24px ;
    font-weight: 700;
    line-height: 28px;
    letter-spacing:-0.01px;
    display: block;
    text-decoration: none;

}
.span-3{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    color: white;
    font-family: text-3;
}
.span-4{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    color: white;
    font-family: text-5;
}
.banner-card-button,.scroll-card-button{
    margin-top: 20px;
    min-height: 32px;
    width: auto;
    position: relative;
    max-width: 100%;
    display: inline-flex;
    border-radius:999px ;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-pack: start;
    text-align: center;
    background-color: #eb1700ff;
    color: #fff;
    box-sizing: border-box; 
}
.banner-card-button p,.scroll-card-button p{
    color: currentColor;
    font-family:text-3 ;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 12px;
    box-sizing: border-box; 
}
.main-heading-1{
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   background-color: rgb(254,241,238);
   padding: 40px 20px 20px; 
   width: 100%;
   box-sizing: border-box;
   font-family: text-2;
}
.main-heading-2{
    display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   background-color:white;
   padding: 40px 20px 20px; 
   width: 100%;
   box-sizing: border-box;
   font-family: text-2;
}
.span-5{
    text-align: center;
    max-width: 300px;
    color: #000000;
    font-family:text-3;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration: none;
}
.main-scrolly-part{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    background-color: rgb(254,241,238);

}
.main-scrolly-part::-webkit-scrollbar{
    display: none;
}
.scrolly-part-1{
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width:90%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}
.scrolly-part-1-text{
    display: flex;
    flex-direction: column;
}
.scrolly-part-1-text h2{
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    font-family:text-3;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    margin-left: auto;
    margin-right: auto;
}
.span-6{
    text-align: center;
    font-family: text-5;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
     text-decoration: none;
     text-transform: none;
}
.span-7{
    text-align: center;
    font-family: text-5;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01px;
     text-decoration: none;
     text-transform: none;
}
.main-last-part{
    width: 100%;
    max-width: 1130px;
    padding: 48px 0px;
    box-sizing: border-box;
}
.main-last-part h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size:18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
}
.main-last-part-headder{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.main-last-part-headder-text:first-child{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: rgb(255,255,255);
    border-bottom: 3px solid #606060;
    transition: background-color 0.15s 
    ease-in-out 0s, box-shadow 0.15s
     ease-in-out 0s;
}
.main-last-part-headder-text{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center; 
    border-bottom: 3px solid #ececec;
}
.main-last-part-headder-text span{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    font-family: text-3;
}
.main-last-part-body{
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
}
.body-1{
  width: 50%;
  transition: background-color 0.15s 
  ease-in-out 0s, box-shadow 0.15s
   ease-in-out 0s;
   box-sizing: border-box;
}
.body-1 span{
    position: relative;
    max-width: 100%;
    display: flex;
    min-height:40px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-family: text-5;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:768px) {
     .deskt-top-txt-butt{
         display: none;  
     }
}
@media (min-width:768px) {
    .ad-parent-2{
        max-width: 470px;
    }
    #top-head-bar{
        height: 72px;
    }
    #top-head-bar p{
        font-size:18px ;
        font-weight: 700;
        line-height: 22px;
    }
    .login-button-1 {
        background-color: #eb1700ff;
        color: #fff;
        height: 40px;
    }
    .login-button-1 p{
        margin-right:0px;
        padding: 0px 10px;
    }
    .open-app-button{
        background-color: #fff;
        color: #606060;
        margin-left: 8px;
    }
    .ad{
        display: none;
    }
    .main-header{
        width: 100%;
        min-height: 550px;
        max-height:650px ;
        background: url(img/hero_desktop.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
    }
    .deskt-top-txt-butt{
        display:flex;
        margin-top: -184px;
    }
    .doordash-ad {
        display: none;
    }
    .login-button{
        display: none;
    }
    .main-header-part-2-svg{
       display: none;
    }
    .main-header-part-2-text{
        text-align: center;
        margin: 0 auto;
    }
    .main-header-part-2{
       width: 742.42; 
       margin-left: auto;
       margin-right: auto;
       max-width: 742.42px;
    }
    .main-header{
        min-height: 650px;
        position: relative;
    }
    .main-header-part-2-deliveryaddr-box{
        width: 408px;
        max-width: 408px;
        height: 56px;
        max-height: 56px;
    }
    .main-header-part-2-deliveryaddr-box-inner{
        padding: 16px;
    }
    .main-header-part-2-text{
        margin-top: 66px ;
        margin-bottom: 24px;
    }
    .main-header-part-2-svg-desktop img:first-child{
        margin-left: 24px;

    }
    .main-header-part-2-svg-desktop img:last-child{
        margin-left: -4px;
    }
     .item-img{
       margin-right: 64px; 
     }
     .item-img img{
        width: 124px;
        height: 124px;
     }
     .items{
        margin: 32px 0px;
     }
}  
@media (min-width:769px) {

    .top-head-bar-inner-svg{
        margin-left: 46px;
    }
    .top-head-bar-inner-button{
        margin-right: 48px;
    }
    .main-header-part-2-text{
        max-width: 742.43px; 
        font-size: 40px;
         width: 100%;
         white-space: nowrap;
         margin-top: 72px ;
         margin-bottom: 30px;
         letter-spacing: -0.01px;
         list-style: 40px
    }
    .main-header-part-2-text p{
        margin-left: auto;
        margin-right: auto;
    }
    .deskt-top-txt-butt{
        margin-top: -192px;
    }  
    
    .main-header-part-2-deliveryaddr-box-inner img:first-child {
        padding-left: 3px;
        margin-right: 13px;
   } 
}
@media (max-width:959px) {
    .top-head-bar-inner-svg-2{
        display: none;
    }
}
@media (min-width:960px) {
    .main-header-part-2-svg-desktop img:first-child{
        height: 24px;
        margin-right:12px;
        margin-left: 24px;
    }
    .main-header-part-2-svg-desktop img:last-child{
        height: 18px;
        margin-bottom: 3px;
    }
    .main-header-part-2{
        margin-top: 78px;
    }
    .deskt-top-txt-butt{
        margin-top: -189px;
    } 
    .main-header-part-2-deliveryaddr-box-inner img:first-child {
        padding-left: 4px;
        margin-right: 12px;
   } 
}
@media (max-width:1183px) {
    .arrow-div{
        display: none;
    }
}
@media (min-width:1184px) {
    .ad-parent-2{
        max-width: 1104px;
        width: 1104;
    }
    .items{
        margin: 96px 0px;
        max-width: 1104px;
        padding: 12px 12px;
    }
    .item{
        flex-direction: column;
        width: 100%;
        max-width: 360px;
    }
    .item-img{
        width:154px ;
        height: 154px;
        display: flex;
        align-self: center;
    }
    .item-img img{
        width:154px ;
        height: 154px;    
    }
    #item-texts-1{
        text-align: center;
    }
    #item-texts-2{
        text-align: center;
    }
    .item-button{
        margin-top: 14px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        text-align: center;
    }
    .svg-7{
        display: none;
    }
    .arrow-div{
        width: 40px;
        height: 40px;
        background-color:#eb1700ff;
        min-height: 40px;
        border-radius: 999px;
        text-align: center;
        margin-right: -8px;
    }
     .arrow-div img{
        margin: auto;
        margin-top: 8px;
        margin-left: 4px;
     }
     .main-header-part-2-deliveryaddr-box-inner{
        padding:8px 16px;
    }
    .items{
        flex-direction: row;
    }
}
